html {
  word-wrap: break-word;
  font-size: 62.5%;
}
body {
  font-size: 100%;
  line-height: 1.5;
  color: $dark-gray;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans', "ヒラギノ角ゴシック", 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3',Roboto, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: 600;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}
ul li {
  list-style: none;
}
button:focus {
	outline:0;
}
